.tech-main{
   height: 500px;

   & > h1{
     font-size: 36px;
     text-align: center;
     padding-top: 63px;
     padding-bottom: 52px;
   }

  & > div:first-of-type{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}