@import "../../styles/variables.scss";

.contact-main{
  display: flex;
  margin-top: 117px;
  justify-content: space-evenly;
  &> div:first-of-type{
    width: 445px;
    height: 160px;
    & > h4{
      font-size: 36px;
      font-weight: 600;
      height: 107px;
    }
    & >p{
      height: 64px;
      font-size: 14px;
      text-align: justify;
    }
  }
  &>div:last-of-type{
    width: 540px;
    height: 305px;

    & input, & select{
       height: 60px;
       border-radius: 6px;
       font-size: 16px;
       color: rgba(19,39,67,0.5);
       padding-left: 31px;
       outline: none;
       border: 1px solid #333333;
    }

    & input, & >select{
      width: 540px;
      margin-top: 24px;
    }

    &>div:first-of-type{
       &  input{      
       width: 255px;
      &:last-of-type{
        margin-left: 30px;
      }
    }
    }


    & > button{
      background-color: $btnColor;
      border-radius: 6px;
      width: 161px;
      height: 50px;
      margin-top: 27px;
      border: 1px solid $btnColor;
      color: $whiteColor;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}