*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-main{
  /* height: 782px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
