*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-main{
  height: 500px;
  position: relative;

  /* background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}