@import "../../styles/variables";

.download-main{
  background-color: $btnColor;
  height: 500px;
  color: $whiteColor;
  @extend %flexBox;
  &>div:first-of-type{
    width: 445px;
    & > h1{
      margin-top: 122px;
      width: 445px;
      font-size: $sizeLarge * 2;
      font-weight: 600;
      margin-bottom: 24px;
    }
    & >p{
      margin-bottom: 44px;
      font-size: $sizeMiddle;
      text-align: justify;
    }
    & > img:not(:first-of-type){
      margin-left: 25px;
    }
  }
  &>div:last-of-type{
    width: 533px;
    position: relative;
    padding-top: 116px;
    & > div {
    display: flex;
    position: relative;
    & >img:first-of-type{
      position: absolute;
      left: 150px;
    }
    }
    & > img{
      position: absolute;
      left: 44px;
      top: 94px;
    }
  }

  @media only screen and (max-width: 1000px) {
    height: auto;
  }
}