.tech-card{
  width: 255px;
  height: 226px;
  @extend %flexCol;
  & > img{
    margin-top: 44px;
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  & >h2{
    font-size: $sizeLarge;
    margin-bottom: 10px;
    margin-top: 8px;
  }
  & > p{
    font-size: $sizeSmall;
    width: 191px;
    height: 51px;
    text-align: center;
    line-height: 14px;
  }
}