@import "../../styles/variables";
@import "../../styles/main";

.contact-main{
  @extend .flexBox;
  margin-top: 117px;
  height: 500px;
  &> div:first-of-type{
    width: 445px;
    height: 160px;
    & > h4{
      font-size: $sizeLarge * 2;
      font-weight: 600;
      height: 107px;
    }
    & >p{
      height: 64px;
      font-size: $sizeMiddle - 2;
      text-align: justify;
    }
  }
  &>div:last-of-type{
    width: 540px;
    height: 305px;

    & input, & select{
       height: 60px;
       border-radius: 6px;
       font-size: $sizeMiddle;
       color: rgba(19,39,67,0.5);
       padding-left: 31px;
       outline: none;
       border: 1px solid #333333;
    }

    & input, & >select{
      width: 540px;
      margin-top: 24px;
      @media only screen and (max-width: 600px) {
        width: 450px;
        margin-left: 20px;
      }
    }

    &>div:first-of-type{
       &  input{      
       width: 255px;

      &:last-of-type{
        margin-left: 30px;
        @media only screen and (max-width: 600px) {
          margin-left: 20px;
        }
      }
      @media only screen and (max-width: 600px) {
        width: 450px;
      }
    }
    }


    & > button{
      background-color: $btnColor;
      width: 161px;
      height: 50px;
      margin-top: 27px;
      border: 1px solid $btnColor;
      color: $whiteColor;
      @extend %btn;

      @media only screen and (max-width: 600px) {
      margin-left: 10rem;
      }
    }
  }
}