@import "../../../styles/variables.scss";


.features-card{
  position: relative;
  text-align: center;
  // display: flex;
  & > div{
    background-color: $whiteColor;
    position: absolute;
    top: 20%;
  }
}