@import "../../styles/variables.scss";

.videoMain{
  display: flex;
  justify-content: space-around;
  margin-top: 94px;
  height: 500px;

  & > div:last-of-type{
    position: relative;
    & img:last-of-type{
      border: 1px solid $btnColor;
      background-color: $btnColor;
      border-radius: 50%;
    }
  }
}

.video-content{
  width: 445px;
  & > h2{
    font-size: 36px;
    line-height: 43px;
    margin-top: 46px;
    font-weight: 600;
  }
  & > p{
    font-size: 14px;
    text-align: justify;
    margin: 24px 0;
  }
  & > a{
    color: $btnColor;
    font-size: 14px;
    text-decoration: none;
  }
}