@import "../../styles/main";

.tech-main{
   height: 500px;

   & > h1{
     font-size: $sizeLarge *2;
     text-align: center;
     padding-top: 63px;
     padding-bottom: 52px;
   }

  & > div:first-of-type{
 @extend %flexBox;
  }

  @media only screen and (max-width: 600px) {
    height: auto;
  }
}