@import "../../styles/main";

.features-main{
  background-color: #fafafa;
  height: 600px;
  & >h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 63px;
  }
  & > div:first-of-type{
   @extend .flexBox;
    height: 660px;
  }

  @media only screen and (max-width: 900px) {
    margin-top: 150px;
    height: 1400px;
  }

  @media (min-width: 700px) and (max-width: 1100px) {
    height: 1100px;
  }
}