.features-main{
  background-color: #fafafa;
  // padding-top: 60px;
  height: 600px;
  & >h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 63px;
  }
  & > div:first-of-type{
    display: flex;
    justify-content: space-evenly;
    height: 660px;
    flex-wrap: wrap;
  }
}