@import "../../styles/main";

.footer-main{
  @extend %flexBox;
  height: 400px;
  background-color: #fafafa;
  padding-top: 85px;
  & h3{
    font-size: 18px;
    height: 22px;
  }

  & ul {
    list-style: none;
    margin-top: 33px;
    font-size: 12px;
    text-align: justify;
    line-height: 19.4px;
    &:nth-of-type(1), :nth-of-type(2){
        width: 254px;

    @media only screen and (max-width: 500px) {
      width: auto;
      }
    }
  }

  & > div:nth-of-type(3){
    & > ul{
       & > li:nth-of-type(2){
      margin-top: 11px;
      margin-bottom: 25.25px;
    }
    } 
    
    & a:not(:first-of-type){
      margin-left: 16.67px;
    }
  }

  & > div:last-of-type{
    & >img{
      margin-top: 33px;
    }
  }

  & p {
    font-size: 12px;
    margin-top: 141px;
  }

  @media only screen and (max-width: 1000px) {
    height: auto;
    margin-top: 8rem;
    }

    @media only screen and (max-width: 500px) {
      justify-content: space-between;
      }

}

.copyright{
  font-size: 12px;
  background-color: #fafafa;
  padding-left: 4rem;
  padding-bottom: 20px;
}