@import "../../styles/variables";

.main-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $whiteColor;
  margin-top: 158px;
  & > h1{
    font-size: 72px;
    text-transform: uppercase;
    margin-left: 18px;
    letter-spacing: 0.05em;

    @media only screen and (max-width: 500px) {
      font-size: 50px;
    }
  }
  & > p{
    font-size: 24px;
    width: 540px;
    height: 124px;
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: center;
  }
  & > button{
    background-color: $whiteColor;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    color: $btnColor;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
}