@import "../../styles/variables";

.main-content{
  @extend %flexCol;
  color: $whiteColor;
  margin-top: 158px;
  & > h1{
    font-size: $sizeLarge * 4;
    text-transform: uppercase;
    margin-left: 18px;
    letter-spacing: 0.05em;

    @media only screen and (max-width: 500px) {
      font-size: $sizeLarge * 3;
    }
  }
  & > p{
    font-size: $sizeSmall * 2;
    width: 540px;
    height: 124px;
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: center;
  }
  & > button{
    background-color: $whiteColor;
    width: 160px;
    height: 50px;
    color: $btnColor;
    border: none;
    font-weight: 600;
    @extend %btn;
  }
}